.container-100vh {
	height: 100vh;
	padding-left: 50px;
}
.helper {
	display: inline-block;
  height: 100vh;
  vertical-align: middle;
}
img {
	vertical-align: middle;
  max-width: 500px;
}


.italic{
	font-style: italic;
}
.textRed{
	color: #d0021b;
}

 
#submitButton{
	margin-top: 10px;
}

#resultsContainer{
	padding-top: 10px;
}

